[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0.3"
django-debug-toolbar = "~=3.2.4"
djangorestframework = "*"
django-filter = "*"
requests = {extras = ["socks"], version = "*"}
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "~=9.5.0"
django-imagekit = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
tzdata = "*"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
celery = "==5.3.1"
selenium = "*"
pycurl = "*"
appium-python-client = "2.9.0"
pure-python-adb = "*"
python-dateutil = "*"
faker = "*"
selenium-stealth = "*"
mysql-connector-python = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
