[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
django-debug-toolbar = "~=3.2.4"
djangorestframework = "*"
django-filter = "*"
requests = {extras = ["socks"], version = "*"}
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "~=9.5.0"
django-imagekit = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
tzdata = "*"
kombu = "==5.3.2"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
celery = "==5.3.1"
pycurl = "*"
python-dateutil = "*"
faker = "*"
mysql-connector-python = "*"
beautifulsoup4 = "*"
black = "*"
django-redis = "*"
pyppeteer = "*"
2captcha-python = "*"
python-ghost-cursor = "*"
gevent = "*"
pathvalidate = "*"

[dev-packages]

[requires]
python_version = "3.10"
