option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: poshbot_api.wsgi:application

commands:
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
packages:
    yum:
        jq: []

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/general.log

container_commands:
  01_makemigrations:
    command: source /var/app/venv/*/bin/activate && python3 /var/app/current/manage.py makemigrations --noinput
    leader_only: true
  02_migrate:
    command: source /var/app/venv/*/bin/activate && python3 /var/app/current/manage.py migrate --noinput
    leader_only: true
  03_collectstatic:
    command: source /var/app/venv/*/bin/activate && python3 /var/app/current/manage.py collectstatic --noinput
    leader_only: true
