option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: poshbot_api.wsgi:application

commands:
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
packages:
    yum:
        jq: []

container_commands:
  00_create_dir:
    command: mkdir -p /var/log/app-logs
  01_change_permissions:
    command: chmod g+s /var/log/app-logs
  02_change_default_owner:
    command: setfacl -d -m g::rw /var/log/app-logs
  03_change_owner:
    command: chown app:app /var/log/app-logs
  04_makemigrations:
    command: source /var/app/venv/*/bin/activate && python3 /var/app/current/manage.py makemigrations --noinput
    leader_only: true
  05_migrate:
    command: source /var/app/venv/*/bin/activate && python3 /var/app/current/manage.py migrate --noinput
    leader_only: true
  06_collectstatic:
    command: source /var/app/venv/*/bin/activate && python3 /var/app/current/manage.py collectstatic --noinput
    leader_only: true